<div class="container">
  <div class="row bd-main-data" id="bd-main-data">
    <div class="col col-12">
      <table id="rate-table" data-source="{{ source }}" style="width: 100%;"></table>
    </div>
  </div>
</div>
