  <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Header"><img src="/images/logo.png" height="35" alt="…"/></a>
    <div class="navbar-nav-scroll">
      {{ menu.top }}
    </div>
  </header>
