{%extends "layout.html.twig" %}
{% block page %}
  <a id="skippy" class="sr-only sr-only-focusable" href="#content" alt="Основное содержание">
    <div class="container">
      <span class="skiplink-text">Перейти к основному содержанию</span>
    </div>
  </a>
  {% block header %}{% include ('header.html.twig') %}{% endblock %}
  {% block content %}
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
      {% block sidebar %}
      <nav class="d-none d-xl-block col-xl-2 bd-toc" aria-label="Дополнительная навигация">
        <ul class="nav section-nav">
          {% for cat in categories %}
            {% if cat.page_title is not empty %}
            <li><a href="{{ cat.link }}">{{ cat.page_title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </nav>

      {% endblock %}
      {% block main %}
      <main class="col bd-content" role="main">
        <h1 class="bd-title" id="content">{{ page.title }}</h1>
        {{ page.content }}
      </main>
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  {% block footer %}{% include ('footer.html.twig') %}{% endblock %}
{% endblock %}
